@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://use.typekit.net/cip8eua.css');

.spinner {
  animation: spin 4s linear infinite;
}

::-webkit-scrollbar {
  display: none !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
